main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 0.2rem 0;
}

.rating {
  text-align: center;
}

label.form-check-label {
  padding: 5px;
}
